header div {
	font-size: 15px;
	text-align: center; 
} #top {
	text-align: center; 
	font-family: Serif; 
	font-size: 30px; 
	
} #container {
	/*background-color: yellow; */
	width: 90vw;
	height: 80vh;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left:-45vw;
	margin-top: -40vh;
	display: flex;
	flex-direction: column;
} #murmurs {
	height: 40vh;
	width: 90vw;
	/* background-color: blue; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start; 
} #murmurs div {
	background-color: red; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
} #play {
	cursor: pointer;
} #answers {
	height: 40vh;
	width: 90vw;
/*	background-color: red; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center; 
} #answers div {
	cursor: crosshair; 
	border: 1px dotted blue; 
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
} @media (orientation: portrait) {
	 body {
	 	height: 100vh;
	 	width: 100vw;
	 } header {
		 display: none;
	}#container { 
	} #murmurs {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center; 
	} #murmurs div {
		font-size: 50px;
	} #answers {
		display: grid;
		grid-template-columns: 1fr 1fr;
	} #answers div {
		font-size: 50px; 
		color: black;
		height: 200px;
	}
}
